.nav__responsive-ul {
    display: none;
  }
  
  .nav {
    background-color: #005;
    width: 100%;
    z-index: 200;
    margin-top: -16px;
  }
  
  .nav__li {
    display: block;
    padding: 20px 30px;
    color: #fff;
    /* text-align: right; */
    /* margin-right: 30px; */
    cursor: pointer;
  }

  .nav__li a {
    color: #fff;
    margin-left: 5px;
    text-decoration: none;
  }
  
  .nav__li:hover {
    color: #06f;
  }
  .nav__li:hover > a {
    color: #06f;
  }

  .nav__li-right {
    display: block;
    padding: 10px;
    color: #fff;
    text-align: right;
    margin-right: 30px;
    justify-content: right;
    cursor: pointer;
  }
  
  .nav__li-right a {
    color: #fff;
    margin-left: 5px;
    text-decoration: none;
  }
  
  .nav__li-right:hover {
    color: #06f;
  }
  .nav__li-right:hover > a {
    color: #06f;
  }
  
  .nav__responsive-button-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    font-size: 30px;
    background-color: #69c;
    height: 50px;
    text-align: right;
    z-index: 100;
    padding: 20px 0px 0px 0px;
    margin-top: -20px;
  }
  
  .nav__responsive-button {
    margin-right: 5%;
  }
  
  @media only screen and (max-width: 610px) {
    .nav__ul {
      display: none;
    }
  
    .nav__li-container {
      position: absolute;
      top: -1000px;
      left: 0px;
      background-color: #bff;
      margin-top: 50px;
      transition: all 0.85s;
      width: 75%;
    }
  
    .nav__responsive-ul {
      z-index: 99;
      display: block;
      position: absolute;
      top: 0px;
      width: 100%;
      background-color: #69c;
      height: 50px;
    }
  
    .nav__responsive-ul:hover > .nav__li-container {
      top: 0px;
      height: 100vh;
    }
  
    .nav__responsive-button:hover > .signup-content, .flex-container{
      display: none;
    }
  
    .nav__responsive-li {
      width: 100%;
      padding: 20px 20px;
      margin-top: 30px;
      margin-bottom: -30px;
    }
  
    .nav__responsive-li a {
      color: #016;
      text-decoration: none;
      padding: 10px;
    }
    .nav {
      height: 55px;
      background-color: #69c;
    }
  }

.img__fondo {
  background-color: #1a1a1a;
  margin-top: -16px;
  width: 100vw;
  height: 100vh;
  background-size: cover;
}
.display__front {
  display: flex;
}

.display__front-left{
  display: block;
  width: 50%;
}
.diplay__front-right {
  display: block;
  width: 50%;
}
.front__title{
  width: 50%;
}

h1{
  font-size: 40px;
  color: #fff;
}

.front__text {
  width: 100%;
}

.front__text > p{
  padding: 0px 30px;
  font-size: 25px;
}

.button__op {
  cursor: pointer;
  border: 3px solid #fff;
  color:#000;
  font-weight: bold;
  font-size: 25px;
  background-color: #005;
  min-width: 400px;
  min-height: 150px;
}
.text__button {
  color: #fff;
  margin-top: -60px;
  font-size: 25px;
  font-weight: 600;
  text-align: left;
}

.display__button {
  text-align: center;
  margin-top: 50px;
}

.boliche__bg {
  background-image: url(./../imgs/Fondo5.png);
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 90%;
}

.bares__bg {
  background-image: url(./../imgs/Fondo3.png);
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 90%;
}

.propuestas__bg {
  background-image: url(./../imgs/Fondo4.png);
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 90%;
}

.comunidad__bg {
  background-image: url(./../imgs/Fondo6.png);
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 90%;
}

.display__footer {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.display__logo {
  width: 50px;
  height: 50px;
  margin: 15px;
}