body {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #000;
  z-index: 15;
}
.img__fondo {
  background-color: #212121;
  width: 100vw;
  height: 100vh;
  background-size: cover;
}
.display__front {
  display: flex;
}

.display__front-left{
  display: block;
  background-color: #1a1a1a;
  width: 35%;
  border-right: 6px solid #fff;
}
.diplay__front-options{
  display: block;
  width: 50%;
  background-color: #111111;
  /* background: linear-gradient(to bottom, ,#000); */
}

.diplay__front-right {
  display: block;
  width: 15%;
  background-color: #1a1a1a;
  height: 100vh;
  padding: 15px;
  border-left:  6px solid #fff;
}
.front__title{
  width: 100%;
  text-align: left;
  padding: 30px 30px;
}

h1{
  margin-top: 10px;
  font-size: 71px;
  color: #fff;
  font-family: 'Barlow', sans-serif;
}

.front__text {
  width: 100%;
}

.front__text > p{
  margin-top: -50px;
  text-align: justify;
  padding: 30px 100px 30px 30px;
  font-size: 25px;
  font-family: 'Barlow', sans-serif;
  /* justify-content: center; */
  /* text-align: left; */
}

.button__op {
  cursor: pointer;
  outline: 10px solid #fff;
  border: 2px solid #fff;
  font-weight: bold;
  font-size: 25px;
  background-color: #005;
  min-width: 550px;
  min-height: 200px;
}
.text__button {
  color: #fff;
  margin-top: -90px;
  font-size: 25px;
  font-weight: 600;
  text-align: left;
}

.display__button {
  text-align: center;
  margin-top: 50px;
  margin-bottom: -30px;
}

.boliche__bg {
  background-image: url(./../imgs/Fondo5.png);
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 90%;
}

.bares__bg {
  background-image: url(./../imgs/Fondo3.png);
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 90%;
}

.propuestas__bg {
  background-image: url(./../imgs/Fondo4.png);
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 90%;
}

.comunidad__bg {
  background-image: url(./../imgs/Fondo6.png);
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 90%;
}

.display__right-title {
  display: flex;
  margin-top: 20px;
  
}

.display__right-title > p {
  margin-right: 20px;
}

.display__right-title > button {
  cursor: pointer;
  height: 40px;
  width: 40px;
  margin: auto;
}

.display__friends{
  display: block;
}
.display__friends-info {
  display:flex;
  margin-bottom: 20px;
}

.button__friends-info {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.text__friends-info > p{
  font-size: 12px;
  padding-left: 10px;
  margin: 0px;
}

