.bg__color {
  background-image: url(./../imgs/Fondo6.png);
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.title__comunidad {
  font-size: 200px;
  text-align: center;
  font-family: "Barlow", sans-serif;
}
